body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url("./Bg4.jpg");
  background-repeat: no-repeat;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;     
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.inner-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outer-border {
  border: 2px solid #DE9B72;
  height: 99%;
  width: 98%;
  padding: 6px;
  margin: 0 auto;
}

@media (min-width: 992px) {
.outer-border {
  height: 94%;
}
}

.mid-border {
  border: 6px solid #DE9B72;
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: auto;
}

.inner-border {
  position: relative;
  border: 2px solid #DE9B72;
  height: 100%;
  width: 100%;
  margin: auto;
}


/* Decorations */
.corner-decoration {
  position: absolute;
  width: 3em;
  margin: -3px;
  background-image: url("./Bg6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 4px;
  background-position-x: 2px;
  
}

@media (min-width: 768px) {
.corner-decoration {
  width: 3.5em;
    margin: -4px;
}
}

@media (min-width: 992px) {
.corner-decoration {
  width: 4em;
    margin: -5px;
}
}

@media (min-width: 1200px) {
.corner-decoration {
  width: 5em;
    margin: -6px;
}
}

.corner-decoration.corner-left-top {
left: 0px;
top: 0px;
z-index:1;
}

.corner-decoration.corner-right-top {
top: 0;
right: 0;
 -webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
right: 0;
bottom: 0;
 -webkit-transform: scale(-1);
  transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
left: 0;
bottom: 0;
-webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

